.about {
  padding: 60px 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--about-bg);
  border-radius: 10px;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .about h2 {
    font-size: 1.7rem;
  }

  .about p {
    font-size: 1rem;
  }
}
