.contact {
  padding: 60px 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--about-bg);
   border-radius: 10px;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.contact a {
  color: #090909;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}
